:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body {
  font-family: "DungGeunMo", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 2rem;
}
